{% load static %}
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>من نحن | يقظة SA</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<header>
    <div class="logo-container">
        <img src="{% static 'logo.png' %}" class="site-logo" alt="Logo">
        <h3>يقظة SA</h3>
    </div>
    <nav>
        <a href="{% url 'home' %}">الرئيسية</a>
        <a href="{% url 'home_en' %}" class="lang-switch">EN🌐</a>
    </nav>
</header>

<div class="container">
    
    <section>
        <h2><strong>من نحن</strong></h2>
        <p>
            تُعد منصة يقظة SA مبادرة وطنية توعوية في مجال الأمن السيبراني، تُعنى برفع مستوى الوعي الرقمي لدى أفراد المجتمع في المملكة العربية السعودية، وتعزيز ثقافة الاستخدام الآمن للتقنيات الحديثة.
        </p>
        <p>
            وتأتي هذه المنصة ضمن مبادرة وطنية كمشروع تخرج يهدف إلى نشر الوعي الرقمي بين أفراد المجتمع حول المخاطر السيبرانية وأساليب الاحتيال الإلكتروني.
        </p>
    </section>

    <hr style="margin: 40px 0; border: 0; border-top: 1px solid #ccc;">

    <section>
        <h2><strong>رؤيتنا</strong></h2>
        <p>
            أن نكون المرجع الأول لتمكين المجتمع السعودي سيبرانيًا، والمساهمة في بناء بيئة رقمية آمنة، تماشيًا مع مستهدفات رؤية المملكة 2030. ونؤمن بأن الإنسان هو خط الدفاع الأول في مواجهة التهديدات السيبرانية.
        </p>
    </section>

    <hr style="margin: 40px 0; border: 0; border-top: 1px solid #ccc;">

    <section>
        <h2><strong>رسالتنا</strong></h2>
        <p>
            تقديم محتوى توعوي موثوق ومبسط في مجال الأمن السيبراني، يهدف إلى تمكين أفراد المجتمع من التعرف على التهديدات الرقمية وأساليب الاحتيال الإلكتروني، وتعزيز قدرتهم على التعامل معها بوعي وكفاءة، بما يسهم في رفع مستوى الأمان الرقمي.
        </p>
    </section>

    <hr style="margin: 40px 0; border: 0; border-top: 1px solid #ccc;">

    <section>
        <h2><strong>أهداف الموقع</strong></h2>
        <ul>
            <li>رفع الوعي الرقمي لدى المستخدمين حول أساليب الاحتيال الإلكتروني.</li>
            <li>توعية المجتمع بالمخاطر السيبرانية وطرق الوقاية منها.</li>
            <li>مساعدة المستخدمين على اكتشاف الرسائل والروابط المشبوهة.</li>
            <li>تقديم تجربة تفاعلية من خلال محاكاة لأساليب الاحتيال الواقعية.</li>
            <li>توجيه المستخدمين إلى القنوات الرسمية للإبلاغ عن الاحتيال.</li>
            <li>تعزيز السلوك الرقمي الآمن لدى الأفراد في استخدام التقنية والخدمات الإلكترونية.</li>
        </ul>
    </section>

</div>

<footer>
    <p>يقظة SA - مشروع توعوي للأمن السيبراني</p>
    <div class="footer-links">
        <a href="{% url 'report' %}">الإبلاغ عن احتيال</a>
    </div>
</footer>

</body>

</html>

