{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>جميع أنواع الاحتيال | يقظة SA</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<header>
    <div class="logo-container">
        <img src="{% static 'logo.png' %}" class="site-logo" alt="Logo">
        <h3>يقظة SA</h3>
    </div>
    <nav>
        <a href="{% url 'home' %}">الرئيسية</a>
        <a href="{% url 'home_en' %}" class="lang-switch">EN🌐</a>
    </nav>
</header>

<div class="container">
    <section>
        <div class="scam-grid">
             {% for scam in scams %}
             <div class="scam-card">
             <h3>{{ scam.title_ar }}</h3>
             <p>{{ scam.description_ar }}</p>
            <a href="{% url 'scam_detail' pk=scam.pk %}" class="btn-more">عرض التفاصيل</a>
            </div>
            {% empty %}
            <p>لا يوجد أنواع احتيال مضافة حالياً.</p>
            {% endfor %}
            </div>
    </section>
</div>

<footer>
    <p>مشروع توعوي للأمن السيبراني - SA يقظة</p>
    <div class="footer-links">
        <a href="{% url 'report' %}">الإبلاغ عن احتيال</a> | 
        <a href="{% url 'about' %}">من نحن</a> | 
        <a href="{% url 'about' %}">هدف الموقع</a>
    </div>
</footer>

</body>

</html>
