{% extends 'ar/base.html' %}

{% block content %}
<div class="detail-container">
    <h1 style="color: var(--primary-color);">{{  scam.title_ar }}</h1>
    <hr style="border: 0.5px solid #eee; margin: 20px 0;">
    <div class="details-text" style="font-size: 1.2rem; color: #131e4e; line-height: 2;">
        {{ scam.details_ar|safe }}  ```
    </div>

    <div style="margin-top: 40px;">
        <a href="{% url 'scams' %}" style="background:linear-gradient(90deg,#66ccff, #004aad)" class="btn-more">← العودة للأنواع</a>
    </div>
</div>
{% endblock %}
